body {
	background-color: #f4f6f9;
}

.brand-text {
	display: inline-block;
	min-height: 1em;
	font-color: #ffffff;
}

.nav-item a {
	text-transform: uppercase;
	font-size: 14px;
	color: #333333 !important;
}

.nav-item a.btn {
	color: #ffffff !important;
}

.main-footer {
	background-color: #292929;
}
.main-footer a {
	color: #ffffff;
}
